/** @format */
@import "./reset.scss";
@import "./variables";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: $brown;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  border: 1px $brown solid;
  .body_column {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    background-color: white;
    & > * {
      border-bottom: solid 1px $brown;
    }
    color: $brown;
    font-size: 30px;
    font-weight: 400;
    &:nth-child(2) {
      .image {
        background-image: url("https://images.unsplash.com/photo-1583309219338-a582f1f9ca6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1364&q=80");
        height: 100%;
        background-size: cover;
        background-position: center;
      }
    }
    div {
      &:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:nth-child(2) {
        display: grid;
        grid-template-rows: repeat(5, auto);
        div {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          &:not(:nth-child(5)) {
            border-bottom: solid 1px $brown;
          }
          &:hover {
            background-color: $brown;
            color: white;
          }
        }
      }
    }
  }
}
